@import "../../utils/color";
@import "../../utils/variable";

.wrapper{
    display: flex;
    background-color: $secondary;
    width: 100%;
    height: $top-bar-height;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;
}

.date-text {
    color: #ffffff;
    font-weight: bold;
}

.slide-btn{
    
}