@import "../../utils/color";
@import "../../utils/variable";

.wrapper{
    display: flex;
    background-color: $secondary;
    width: 100%;
    height: $top-bar-height;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: fixed;
    top: 0;
    z-index: 2;

    .gif-container {
        flex: 1;

        .gif {
            height: $top-bar-height;
        }
    }
    
    .date-text {
        color: #ffffff;
        font-weight: bold;
        flex: 3;
        text-align: center;
    }
    
    .slide-btn{
        flex: 1;
        text-align: end;
        color: #ffffff;
    }
}