@import "../../utils/color";
@import "../../utils/variable";

.wish-container {
  padding: 25px 0px 25px 0px;
  display: flex;
  text-align: center;
  // background-color: $secondary-dark;
}

.personal-container {
  display: flex;
  flex-direction: row;

  .details {
    flex: 4;
    // background-color: green;
    padding: 3% 5% 3% 5%;
    flex-direction: column;
    text-align: center;

    .detail-title {
      font-size: 40px;
      text-align: center;
    }

    .details-text {
      font-size: xx-large;
    }
  }

  .image-div {
    flex: 1;
    text-align: center;
    overflow: hidden;
    // padding: 3% 5% 3% 5%;

    .slider {
      white-space: nowrap;
      transition: ease 1500ms;
    }

    .slide {
      display: inline-block;
      width: 100%;
      border-radius: 20px;
    }

    .radio-dots {
      text-align: center;
    }

    .slideshowDot {
      display: inline-block;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      cursor: pointer;
      margin: 15px 7px 0px;
      background-color: $primary;
    }

    .slideshowDot.active {
      background-color: $secondary-dark;
    }
  }
}

.gift-container {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2% 0 2% 0;

  .gift-title {
    text-align: center;
    width: 100%;
    font-size: xx-large;
    font-weight: bold;
  }

  .gift-row {
    width:100%;
    // padding-right: $horizontal-width;
    // padding-left: $horizontal-width;
    margin-right: $horizontal-width;
    margin-left: $horizontal-width;
    display:flex;
    padding-top: 5%;
  }

}

.footer {
  background-color: $secondary;
  padding: 0 5px 0 5px;

  h5, h6 {
    color: white;
  }
}
